# General system files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore node_modules in the Client folder
/Client/node_modules/
/Client/bank-transact-app/node_modules/

# Ignore build output for the React app
/Client/bank-transact-app/build/

# Ignore environment files in the React app
/Client/bank-transact-app/.env
/Client/bank-transact-app/.env.local
/Client/bank-transact-app/.env.*.local

# Ignore React cache and lock files
/Client/bank-transact-app/.cache
/Client/bank-transact-app/package-lock.json
/Client/bank-transact-app/yarn.lock

# Visual Studio files
/Server/TransactionsAPI/.vs/
/Server/TransactionsAPI/*.user
/Server/TransactionsAPI/*.suo

# Visual Studio build output
/Server/TransactionsAPI/TransactionsAPI/bin/
/Server/TransactionsAPI/TransactionsAPI/obj/

# Temporary files
*.tmp
*.bak
~$*

# Ignore backups
*.swp
*.bak
*.tmp
*.old
*.orig
